<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body  style='font-family: "Roboto", sans-serif;font-weight: 700;font-style: normal;'>
    <style>
        input{
            margin-top: 10px;
            margin-left: 25px;
            width: 350px;
            height: 50px;
        }
    </style>
    <div style="width: 500px; height: 400px; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; margin: 80px auto; display: flex; flex-direction: column; align-items: center; gap: 20px;">
        <form method="post" enctype="multipart/form-data" style="margin-top: 25px; font-size: 25px;">
        {% csrf_token %}
        {{form.as_p}}

        <div style="display: flex; gap: 25px;">
            <button type="submit" style="width: 125px; height: 45px; font-size: 30px; color: white; background-color: #f470ff; border: none; border-radius: 5px;">add</button>
            <a  style=" padding: 6px; font-size: 30px; color: white; background-color: #f470ff; text-decoration: none; border: none; border-radius: 5px;" href="{% url 'index' %}">Back</a>
        </div>
      </form>
    </div>
</body>
</html>